<th:block th:fragment="res">
<link rel="stylesheet" type="text/css" th:href="@{/plugin/jquery-easyui/themes/default/easyui.css}">
<link rel="stylesheet" type="text/css" th:href="@{/plugin/jquery-easyui/themes/icon.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/ui-style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/iconfont.css}">
<script type="text/javascript"  th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript"  th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript"  th:src="@{/plugin/jquery-easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript"  th:src="@{/plugin/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript"  th:src="@{/plugin/pdfExport/html2canvas.js}"></script>
<script type="text/javascript"  th:src="@{/plugin/pdfExport/jspdf.min.js}"></script>
<script type="text/javascript"  th:src="@{/js/utils.js}"></script>
<script>
    utils.SYS_DATE = '[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}]]';
</script>
</th:block>
