.width20{width: 20px !important;}
.width30{width: 30px !important;}
.width40{width: 40px !important;}
.width50{width: 50px !important;}
.width60{width: 60px !important;}
.width70{width: 70px !important;}
.width80{width: 80px !important;}
.width90{width: 90px !important;}
.width100{width: 100px !important;}
.width150{width: 150px !important;}
.width200{width: 200px !important;}
.col20{width: 20%;}
.col30{width: 30%;}
.col35{width: 35%;}
.col40{width: 40%;}
.col50{width: 50%;}
.col70{width: 70%;}
.inline-div{display: inline-block;}

.emr-box{position: relative;}
.emr-box .emr-div{overflow: hidden;}
.emr-box .emr-div .emr-head{height: 40px;line-height: 40px;background: #e1edff;border-bottom: solid 1px #95B8E7;padding-left: 15px;}
.emr-box .emr-div .emr-head ul{float: left;}
.emr-box .emr-div .emr-head ul li{color: #0063b1;margin-right: 10px;float: left;}
.emr-box .emr-div .emr-head .print-preview{color: #fff;background: #0063b1;line-height: 28px;padding: 0 10px;margin: 6px 10px 0 0;float: right;cursor: pointer;}
.emr-box .emr-div iframe{width: 100%;height: calc(100% - 41px);border: none;}
/*电子病历左右功能区*/
.columns-div{width: 250px;height: 100%;border: solid 1px #cecece;border-top: none;border-bottom: none;position: relative;}
.columns-div .height60{height: 60%;}
.columns-div .height40{height: 40%;}
.columns-div h4{line-height: 40px;background: #f0f0f0;padding-left: 20px;border-bottom: solid 1px #cecece;}
.columns-div .div-content{height: calc(100% - 51px);overflow: auto;padding: 5px 0;}
/*左边就诊记录*/
.columns-div .div-content .tree-node{padding: 0 5px;}
.columns-div .record-btn{border-top: solid 1px #cecece;padding: 15px 15px 15px 0;box-sizing: border-box;}
.columns-div .record-btn li{width: 100px;height: 30px;line-height: 30px;color: #fff;text-align: center;background: #0063b1;margin: 0 0 10px 15px;float: left;cursor: pointer;}
.columns-div .record-btn li:active{opacity:0.8;filter:alpha(opacity=80)}
/*右边病历页面*/
.columns-div.right .height60 h4{border-top: solid 1px #cecece;}
.columns-div.right .div-content{height: calc(100% - 52px);}
.columns-div .emr-list h5{font-weight: bold;padding: 10px 20px 0px 20px;}
.columns-div .emr-list ul{padding: 5px 0;}
.columns-div .emr-list ul li{line-height: 28px;color: #666;padding: 0 36px;cursor: pointer;}
.columns-div .emr-list ul li:hover{background:#e0f2ff}
/*电子病历左右功能区*/


/*电子病历主体内容*/
.emr{height: 100%;}
.emr .page-size{padding: 15px;box-sizing: border-box;}
/*封面*/
.emr .cover-page .cover-tit{font-size: 34px;text-align: center;padding: 50px 0 70px 0;}
.emr .cover-page .cover-tit h4,.emr .cover-page .cover-tit h5{font-weight: initial;}
.emr .cover-page .cover-form{}
.emr .cover-page .cover-form .cover-item{width: 460px;line-height: 35px;margin: 0 auto;margin-bottom: 20px;}
.emr .cover-page .cover-item .title-txt{width: 100px;font-size: 16px;font-weight: bold; text-align:right; float: left;}
/* 文本框 */
.emr .cover-page .cover-item .cover-input{margin-left: 100px;}
.emr .cover-page .cover-item .cover-input input[type=text]{width: 100%;height: 35px;font-size: 16px;border: none;border-bottom: solid 1px #000;}
.emr .cover-page .cover-item .cover-input input[type=text]:read-only{background:#ebebe4 !important}
.emr .cover-page .cover-item .cover-input .text-mid{font-size: 16px;display: inline-block;}
.emr .cover-page .cover-item .cover-input-inline,.emr .cover-page .cover-item .cover-checkbox{display: inline-block;}
.emr .cover-page .cover-item .cover-input-inline input[type=text]{text-align: center;}
/* 单选按钮 */
.emr .cover-page .cover-item .cover-radio{margin-left: 100px;}
/* 下拉框 */
.emr .cover-page .cover-item .cover-select{margin-left: 100px;}
.emr .cover-page .cover-item .cover-select select{width: 360px;height: 35px;font-size: 16px;border: none;border-bottom: solid 1px #000;}
.emr .cover-page .cover-item .cover-select .textbox{height: 35px !important;border: none;border-bottom: solid 1px #000;margin: 0;}
.emr .cover-page .cover-item .cover-select .textbox .textbox-text{height: 35px;line-height: 35px;}
/* 复选框 */
.emr .cover-page .cover-item .cover-checkbox{display: inline-block;}
.emr .cover-page .cover-item .cover-checkbox label{font-size: 16px;cursor: pointer;}
.emr .cover-page .cover-item .cover-checkbox label input[type=radio]{width: 16px;height: 16px;margin: -1px 0px 0 0px;cursor: pointer;}
.emr .birth-page table td{width: 50%;}
/*耳及听力检查记录*/
.emr .inspect-page .text-div .content-img1{width: 50%;float: left;}
.emr .inspect-page .text-div .content-level{width: 50%;float: left;}
/*婴幼儿体检——辅助检查*/
.emr .auxiliary-page .auxiliary-tab{font-size: 0;margin: 5px 0 10px 0;}
.emr .auxiliary-page .auxiliary-tab li{height: 30px;line-height: 30px;text-align: center;color: #666;border: solid 1px #666;padding: 0 15px;margin-right: 5px;border-radius: 15px;display: inline-block;cursor: pointer;}
.emr .auxiliary-page .auxiliary-tab li:hover,.emr .auxiliary-page .auxiliary-tab li.current{color: #fff;background: #0063b1;border-color: #0063b1;}
/*体检小结*/
.emr .summary-page table td .report-list li{line-height: 30px;border-bottom: dashed 1px #eee;position: relative;}
.emr .summary-page table td .report-list li a{display: block;}
.emr .summary-page table td .report-list li .icon-jiantou-right1{line-height: initial;position: absolute;top: 7px;right: 0;}
/*分页表格通用样式*/
.emr .table-page .table-tit{font-size: 16px;margin: 20px 0 10px 0;}
.emr .table-page table{width:100%;box-sizing:border-box;border-collapse:collapse;}
.emr .table-page table th,.emr .table-page table td{height: 0;padding: 6px 10px;border: solid 1px #000;}
.emr .table-page table th .info-list{text-align: left;margin-bottom: 5px;float: left; font-weight: normal;}
.emr .table-page table th .info-list .info-div{display: inline-block;font-size: 16px;}
.emr .table-page table th .info-list .info-div em,.emr .table-page table th .info-list .info-div span{font-size: 16px;}
.emr .table-page table th .info-list .info-value{font-weight: initial;font-size: 16px;padding-left: 5px;display: inline-block;}
.emr .table-page table th .info-history{color: blue;} 
.emr .table-page table th .info-history .info-div{cursor: pointer;}
.emr .table-page table th h4{font-size: 20px;font-weight: initial;margin-bottom: 10px;}
.emr .table-page table th h4 i{font-size: 16px;color: blue;cursor: pointer;margin-left: 5px;}
.emr .table-page table th h5{font-weight: initial;margin-bottom: 10px;}
.emr .table-page table td .td-title{font-size: 14px;font-weight: bold;height: 30px;line-height: 30px;position: relative;}
.emr .table-page table td .td-title .icon-jia{width: 30px;color: #0063b1;font-size: 16px;text-align: center;position: absolute;top: 0;right: 0;cursor: pointer;}
.emr .table-page table td .title-mg{margin: 15px 0 5px 0;}
.emr .table-page table td .div-item{line-height: 30px;display: block;}
.emr .table-page table td .div-item:after{content:"";display:block;clear:both;}
.emr .table-page table td .div-item input[type=text]{width: 100%;height: 30px;border: none;border-bottom: solid 1px #000;text-align: center;}
.emr .table-page table td .div-item label{cursor: pointer;margin-right: 5px;}
.emr .table-page table td .div-item input[type=radio],.emr .table-page table td .div-item input[type=checkbox]{width: 16px;height: 16px;margin: 0 5px;cursor: pointer;}
.emr .table-page table td .div-item .item-left{float: left;}
.emr .table-page table td .div-item .item-content{line-height: 22px;padding-top: 4px;}
.emr .table-page table td .combo{margin: 0;border:none;border-bottom: solid 1px #000;}
.emr .table-page table td input[type=text]{height: 100%;border: none;}
.emr .table-page table td input[type=text].style{height: 30px;border-bottom: solid 1px #000;text-align: center;}
.emr .table-page table td label{display: inline-block;cursor: pointer;}
.emr .table-page table td label input[type=checkbox]{width: 16px;height: 16px;margin: 0 5px;cursor: pointer;}
.emr .table-page table td table th,.emr .table-page table td table td{text-align: center;}
.emr .table-page table td .refuse-btn{color: blue;line-height: 30px;position: absolute;right: 10px;top: 50%;margin-top: -15px;cursor: pointer;}
/* .emr .table-page table td table td .validatebox-text{font-size: 20px;} */
/*诊前2问卷*/
.emr .wj-page .no-padding{padding: 0;}
.emr .wj-page .no-padding label{height: 100%;display: block;text-align: center;}
.emr .wj-page .no-padding label input[type=radio]{width: 16px;height: 16px;position: relative;top: 50%;margin-top: -8px;}

 /*步骤条*/
.emr .steps{height: 40px;font-size:0;overflow: hidden;padding: 0 15px;}
.emr .steps.initialWidth{width: initial !important;}
.emr .steps .stepsBox{width: 16.6666666%;height: 40px;display: inline-block;background: #eee;position: relative;cursor: pointer;}
.emr .steps .stepsBox dl{position: absolute;top: 4px;left: 40px;}
.emr .steps .stepsBox dl dt{width:24px;height:24px;font:bold 14px/24px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";text-align: center;color: #28a3ef;background: #fff;border-radius: 50%;display: inline-block;margin:4px 10px 0 0;float: left;}
.emr .steps .stepsBox dl dd{color: #666;display: inline-block;line-height: 32px;font-weight: bold;float: left;}
.emr .steps .stepsBox .stepsRightBg{width:0;height: 0;border-style:solid;border-width:24px;border-color:transparent transparent transparent #FFF;display: inline-block;position: absolute;top: -4px;right: -48px;z-index: 1;}
.emr .steps .stepsBox .stepsRight{border-width:20px;border-color: transparent transparent transparent #eee;top: 0;right: -40px;}
.emr .steps .stepsBox.current{background: #28a3ef;}
.emr .steps .stepsBox.current .stepsRight{border-color: transparent transparent transparent #28a3ef}
.emr .steps .stepsBox.current dl{left: 30px;}
.emr .steps .stepsBox.current dl dd{color: #fff;}

/*分页表格文字通用样式*/
.emr .table-page .text-div{margin-bottom: 20px;}
.emr .table-page .text-div h4{font-size: 16px;padding: 10px 0;}
.emr .table-page .text-div .text-content h6{font-weight: initial;}
.emr .table-page .text-div .text-content h5{font-weight: bold;padding: 10px 0;}
.emr .table-page .text-div .text-content p{text-indent: 28px;line-height: 22px;}
.emr .table-page .text-div .content-img1 img{width: 100%;}
.emr .table-page .text-div .content-level thead th{background: #0063b1;color: #fff;}
.emr .table-page .text-div .content-level td{text-align: center;}
.emr .table-page .text-div .content-level h4{font-size: 14px;color: #0063b1;padding: 0;}
.emr .table-page .text-div .content-rate{width: 100%;margin-top: 50px;float: left;}
.emr .table-page .text-div .content-rate dt{width: 50%;padding: 100px 50px 0;box-sizing: border-box;float: left;}
.emr .table-page .text-div .content-rate dd{width: 50%;float: left;}
.emr .table-page .text-div .content-rate dd img{width: 100%;}

/*过敏史、家族史、传染病及接触史、疾病史*/
.emr .checkbox-yes{height: 100%;display: block;}
.emr .checkbox-yes input[type=checkbox]{position: relative;top: 50%;margin-top: -8px;}

/*表格医生签名样式*/
.emr .table-page .autograph{height: 35px;padding: 0;}
.emr .table-page .autograph .autograph-l{width: 100px;line-height: 35px;font-weight: bold;text-align: center;border-right: solid 1px #000;box-sizing: border-box;float: left;}
.emr .table-page .autograph .autograph-r{margin-left: 100px;height: 100%;}
.emr .table-page .autograph .autograph-r input{text-indent: 10px;}

/*电子病历打印模板*/
.emr-print{padding: 20px;}
.emr-print table{width:100%;box-sizing:border-box;text-align:left;color:#000;border-collapse:collapse;}
.emr-print table thead th h4{font-size: 20px;font-weight: initial;margin-bottom: 10px;text-align: center;}
.emr-print table thead .head-info{padding: 5px 0 10px 0}
.emr-print table thead .head-info li{width: 25%;font-size: 16px;font-weight: initial;float: left;}
.emr-print table tbody tr td{line-height: 40px;font-size: 16px;border: solid 1px #cecece;height: 100%;}
.emr-print table tbody tr td:first-child{padding: 0 10px;background: #eee;}
.emr-print table tbody tr td:nth-child(2){line-height: 24px;padding: 10px;color: #666;}
.emr-print table tbody tr td:nth-child(3){text-align: center;}
.emr-print table tbody tr td:nth-child(3) label{cursor: pointer;}
.emr-print table tbody tr td:nth-child(3) input[type=checkbox]{width: 16px;height: 16px;cursor: pointer;margin-right: 5px;}
.emr-print table tbody tr td:nth-child(4){text-align: center;}
.emr-print table tbody tr td:nth-child(4) .icon-modify{font-size: 18px;padding: 5px;color: #0063b1;cursor: pointer;}
.emr-print table tbody tr td input{width: 100%;border: none;color: #666;}
.emr-print table tbody tr td textarea{width: 100%;height: 100px;color: #666;border:none;}
.emr-print table tbody tr .dividing-line{height: 10px;}
.edui-default .edui-editor{border: none;border-top: solid 1px #cecece;}

/*新增医嘱*/
.medical-advice{width: 500px;height: 450px;}
.medical-advice .advice-box{height: 400px;overflow: auto;}
.medical-advice .advice-box table{border-collapse:collapse;}
.medical-advice .advice-box table thead th{height: 35px;background: #e1edff;text-align: left;padding: 0 15px;}
.medical-advice .advice-box table thead .advice-info{font-weight: initial;color: #0063b1;display: inline-block;float: right;}
.medical-advice .advice-box table tbody td{line-height: 30px;text-align: left;padding: 0 15px 0 30px;}
.medical-advice .advice-box table tbody td label{display: block;cursor: pointer;}
.medical-advice .advice-box table tbody td h4{text-align: left;padding: 0 15px;}
.medical-advice .advice-box table tbody tr:hover{background: eee;}
.medical-advice .advice-box table tbody td:last-child{text-align: center;padding: 0;}
.medical-advice .advice-box table input[type=checkbox]{width: 16px;height: 16px;cursor: pointer;}
.medical-advice .advice-btn{height: 49px;border-top: solid 1px #eee;text-align: center;}
.medical-advice .advice-btn input[type=button]{width: 80px;height: 30px;color: #fff;background: #0063b1;border: none;margin: 10px 0;cursor: pointer;}
/*新建病历模板*/
.add-emr .advice-box table tbody tr{cursor: pointer;}
.add-emr .advice-box table tbody tr:hover{background: #eee;}
.add-emr .advice-box table tbody td{padding: 0 15px;}
.add-emr .advice-box table tbody td:last-child{padding: 0 15px;text-align: left;}
/*家长拒签项目*/
.refuse-div{height: 350px;}
.refuse-div .advice-box{height: 300px;padding: 15px;box-sizing: border-box;}
.refuse-div .advice-box label{width: 33.33333%;line-height: 32px;cursor: pointer;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;float: left;}
.refuse-div .advice-box label input[type=checkbox]{width: 16px;height: 16px;margin-right: 5px;}

/*医嘱查询列表*/
.emr-children-list{padding: 20px 10px 0 10px;}
.emr-children-list .children-box{width: 25%;padding: 0 10px;margin-bottom: 15px;box-sizing: border-box;float: left;}
.emr-children-list .children-box .children-div{height: 150px;background: #eee;padding: 15px;position: relative;}
.emr-children-list .children-box .children-div li{line-height: 30px;float: left;}
.emr-children-list .children-box .children-div .children-btn{height: 35px;line-height: 35px;color: #fff;font-weight: bold;text-align: center;background: #0063b1;position: absolute;left: 0;bottom: 0;right: 0;cursor: pointer;}
.emr-children-list .children-box .children-div .children-btn:active{opacity:0.8;filter:alpha(opacity=80)}
/*CSS打印样式控制*/
@media print{
	.emr .page-size{
		width: 210mm;
		height: 297mm;
		page-break-after: always;
	}
	@page{
		size: A4;
		margin: 0mm;
	}
}
