body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
ol,ul,li,input{list-style:none;list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
img{border:0;vertical-align:top}
input,checkbox,select,img{vertical-align:middle}
input,textarea{outline:none;resize:none;box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font:normal 14px/24px;font-family: "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color:#333}
em,i{font-style:normal}
article,aside,dialog,footer,header,section,nav,figure,menu{display:block}
a{color:#333;text-decoration:none}
a:link{color:#333;text-decoration:none}
.fxbg-absolute{position: absolute;}
.fxbg .void-icon{position: absolute;top: 10px;right: 10px;}
.fxbg .fxbg-box{height: 793px;position: relative;}
.fxbg-title{height: 50px;padding: 30px 0 50px 0;position: relative;}
.fxbg-title .icon{width: 25px;height: 50px;background: #0063b1;float: left;}
.fxbg-title .fxbg-tit{font:35px/35px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";margin-left: 10px;padding: 6px;float: left;}
.fxbg-title .fxbg-tit span{font-size: 35px;}
.fxbg-title .line{width: 1123px;height: 1px;border-bottom:solid 1px #0063b1;position: absolute;top: 78px;left: 0;right: 0;}
.fxbg{width: 1123px;margin: 0 auto;}
.fxbg .fxbg-txt,.fxbg .fxbg-txt span{font: 16px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";}
/* .fxbg .fxbg-fm{background: url(../images/fxbg/fm_bg.png) no-repeat top left;} */
.fxbg .fxbg-fm .fm-title{margin-left: 360px;position: absolute;top: 330px;}
.fxbg .fxbg-fm .fm-title .name1,.fxbg .fxbg-fm .fm-title .name2{font-family: "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";font-weight: normal;color: #000;}
.fxbg .fxbg-fm .fm-title .name2{font-size: 60px;line-height: 60px;margin-top: 15px;}
.fxbg .fxbg-fm .fm-title .name1,.fxbg .fxbg-fm .fm-title .name1 span{font-size: 40px;line-height: 40px;}
.fxbg .fxbg-fm .fm-txt{font: 20px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color: #000;}
.fxbg .fxbg-fm .fm-date{top: 25px;left: 933px;}
.fxbg .fxbg-fm .fm-copy{bottom: 25px;left: 943px;}
.fxbg .fxbg-fm .fm-copy .copy-name{font-size: 20px;}
.fxbg .fxbg-fm .fm-copy .copy-wz{font-size: 20px;}
/* .fxbg .fxbg-div{padding: 0 40px;} */
.fxbg .fxbg-sm .sm-box{width: 50%;box-sizing: border-box;float: left;}
.fxbg .fxbg-sm .sm-left,.fxbg .fxbg-sm .sm-right{padding: 0 40px;}
.fxbg .fxbg-sm .sm-right .sm-txt{margin-top: 25px}
.fxbg .fxbg-sm .sm-right ul{padding-left: 30px;}
.fxbg .fxbg-sm .sm-right ul li{width: 50%;font: 16px/35px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";float: left;}
.fxbg .fxbg-sm .sm-box .sm-tit{font: 28px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";padding-left: 30px;position: relative;}
.fxbg .fxbg-sm .sm-box .sm-tit .icon{width: 16px;height: 16px;background: #0063b1;display: inline-block;position: absolute;top: 12px;left: 0;}
.fxbg .fxbg-sm .sm-box .sm-content{padding-left: 30px;}
.fxbg .fxbg-sm .sm-box .sm-subtitle{font: 20px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color: #0063b1;margin:25px 0 10px 0;position: relative;}
.fxbg .fxbg-sm .sm-box .sm-subtitle .icon{width: 8px;height: 8px;background: #0063b1;display: inline-block;border-radius: 50%;position: absolute;top: 11px;left: -26px;}
.fxbg .fxbg-sm .sm-box .sm-subtitle span{font-size: 20px;}
.fxbg .fxbg-sm .sm-box .sm-txt{font: 16px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";margin-bottom: 10px;}
.fxbg .fxbg-sm .sm-box .sm-txt span{font-size: 16px;}
.fxbg .fxbg-ml .ml-tit{width: 177px;height: 127px;position: absolute;left: 240px;top: 333px;}
.fxbg .fxbg-ml .ml-name{display: inline-block;margin:272px 0 0 550px;}
.fxbg .fxbg-ml .ml-name .name-list{font: 30px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";margin: 30px 0;}
.fxbg .fxbg-ml .bg1{width: 267px;height: 267px;top: 0;left: 0;}
.fxbg .fxbg-ml .bg2{width: 387px;height: 387px;bottom: 0;left: 0;}
.fxbg .fxbg-zj{position: relative;overflow: hidden;}
.fxbg .fxbg-zj .txt-div{width: 100%;text-align: center;position: relative;top: 215px;}
.fxbg .fxbg-zj .txt-div .zj-number{font:150px/150px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color: #000;}
.fxbg .fxbg-zj .txt-div .zj-h4{font:40px/40px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";margin: 20px 0;color: #000;}
.fxbg .fxbg-zj .txt-div p,.fxbg .fxbg-zj .txt-div p span{font: 24px/35px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color: #333;}
.fxbg .fxbg-zj .bg1{width: 267px;height: 267px;bottom: 0;left: 0;}
.fxbg .fxbg-zj .bg2{width: 333px;height: 333px;bottom: 0;right: 0;}
.fxbg .fxbg-warp{margin-top: 50px;}
.fxbg .fxbg-warp .fxbg-txt{margin-top: 100px;}
.fxbg .fxbg-warp .warp-left,.fxbg .fxbg-warp .warp-right{width: 481px;padding: 0 40px;float: left;}
.fxbg .fxbg-warp .warp-right{text-align: center;}
.fxbg .fxbg-warp .warp-right .right-tit{font-size: 18px;font-weight: bold;margin-bottom: 15px;}
.fxbg .warp-left .left-top{text-align: center;}
.fxbg .warp-left .left-top .score-box{display: inline-block;margin: 0 20px;}
.fxbg .warp-left .left-top .score-box .score{width: 180px;height: 180px;text-align: center;font: 54px/180px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color: #0063b1;display: inline-block;position: relative;}
.fxbg .warp-left .left-top .score-box .score img{position: absolute;top: 0;left: 0;}
.fxbg .warp-left .left-top .score-box .source-green{color: #2bbc3c;}
.fxbg .warp-left .left-top p{text-align: center;font: 22px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";margin-top: 20px;}
.fxbg .fxbg-div .fxbg-explain{font: 16px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color: #666;position: absolute;bottom: 50px;left: 40px;right: 40px;}
.fxbg .fxbg-nr{padding: 40px;}
.fxbg .fxbg-nr .total-score{height: 46px;border: solid 2px #0063b1;padding: 0 20px;border-radius: 25px;margin: 30px 0;}
.fxbg .fxbg-nr .total-score .div-h4{font: 20px/46px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color: #0063b1;float: left;}
.fxbg .fxbg-nr .total-score .class-div{padding: 0 10px;float: left;}
.fxbg .fxbg-nr .total-score .class-div .class-name,.fxbg .fxbg-nr .total-score .class-div .class-score{font: 16px/16px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";text-align: center;}
.fxbg .fxbg-nr .total-score .class-div .class-name{color: #0063b1;margin: 5px 0;}
/*按钮*/
.ui-btn{width:100%;height:35px;background:#fff;text-align:center;margin-bottom: 50px;}
.ui-btn a{height:30px;line-height:30px;font-weight:bold;background:#0063b1;padding:0 15px;display:inline-block;color:#fff;margin-left:5px}
.ui-btn a:active{-webkit-transform:scale(.9);transform:scale(.9);opacity:0.8;filter:alpha(opacity=80)}
.ui-btn a em{font-weight:normal;margin-right:8px;margin-top:1px;float:left}
.ui-btn a i{float:left}
@media print {
  @page{
	  margin:0mm;
	  size: A4 landscape;/*设置A4大小并且横向*/
	  body{margin: 0mm 0mm}/*边距0*/
  }
  /*显示背景*/
  body{-webkit-print-color-adjust:exact;-moz-print-color-adjust:exact;-ms-print-color-adjust:exact;print-color-adjust:exact;}
  .ui-btn{display: none;}
}