/*基本资料样式*/
.questionnaire .questionnaire-left{height: initial;overflow:initial}/*解决不是真实高度问题*/
.questionnaire .questionnaire-left .questionnaire-tit>h4, .questionnaire .questionnaire-left .questionnaire-tit>h5{line-height:22px;}
.questionnaire .questionnaire-left .children-info{border:none;border-bottom:solid 1px #000;margin-top:8px;padding-bottom:10px}
.questionnaire .questionnaire-left .children-info ul{padding:0}
.questionnaire .questionnaire-left .children-info ul li{height:20px;margin-bottom:0}
.questionnaire .questionnaire-left .children-info ul li em{width:100px;height:20px;line-height:20px;font-size:14px;padding-right: 5px;}
.questionnaire .questionnaire-left .children-info ul li i{display:none}
.questionnaire .questionnaire-left .children-info ul li .children-info-input input[type=text]{height:20px;line-height:20px;border:none;font-size: 14px;}
.questionnaire .questionnaire-left .children-info ul li .children-info-input span{width:15px;height:20px;line-height:20px;font-size: 14px;}
.questionnaire .questionnaire-left .children-info .textbox{height:20px !important;border:none}
.questionnaire .questionnaire-left .children-info .textbox-addon-right{display:none !important}
.questionnaire .questionnaire-left .children-info ul li .children-info-input input[name=NBirthWeight]{width:40px}
.questionnaire .questionnaire-left .children-info ul li .children-info-input input[name=NBirthHeight]{width:40px}
.questionnaire .questionnaire-left .children-info ul li .children-info-input input[name=NBirthHead]{width:40px}
/*表格table样式*/
.questionnaire .questionnaire-left .subject{margin-top:0}
.questionnaire .questionnaire-left .subject table{text-align:left;margin:0}
.questionnaire .questionnaire-left .subject table tr th{height:30px;font-size: 14px;;border:none;border-bottom:solid 1px #000;padding: 0;}
.questionnaire .questionnaire-left .subject table tr td{height:auto;padding:0;border:none}
.questionnaire .questionnaire-left .subject table tr td ul{padding:0}
.questionnaire .questionnaire-left .subject table tr td ul li{line-height:inherit}

/*底部日期、医生签名样式*/
.questionnaire .questionnaire-left .subject .ui-gauge ol{padding:0}
.questionnaire .questionnaire-left .subject .ui-gauge ol li{padding:0;white-space: initial;color: #000;line-height: 18px;}
.questionnaire .questionnaire-left .subject .ui-gauge ol li em{width:auto;line-height:18px;font-weight:normal;color:#000}
.questionnaire .questionnaire-left .subject .ui-gauge ol li input{width:auto;height:18px;line-height: 18px;color:#000;text-indent:0;border:none;float:left}


/*量表单独样式*/
.lb1001 a{color:#000;padding-right:15px;display:none;white-space:nowrap}

/*报告打印样式*/
@media print{
	*{font-family: "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB" !important;}
	body{margin: 4mm 1mm}
}