body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
ol,ul,li,input{list-style:none;list-style-type:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
img{border:0;vertical-align:top}
input,checkbox,select,img{vertical-align:middle}
input,textarea{outline:none;resize:none}
body{font:normal 14px/24px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color:#333}
article,aside,dialog,footer,header,section,nav,figure,menu{display:block}
a{color:#333;text-decoration:none}
a:link{color:#333;text-decoration:none}
a:hover{color:#0063b1}
.clear{clear:both}
.red{color:red}
/*弹出帮助提示*/
.uitips{background:#f5f6b4;text-align:center}
.uitips span{color:red;padding:0 8px;text-decoration:underline;cursor:pointer}
.ui-help{padding:5px 20px 20px 20px}
.ui-help dl{border-bottom:dashed 1px #0063b1;padding-bottom:15px;margin-top:15px}
.ui-help dl dt em{width:20px;height:20px;text-align:center;font:normal 14px/20px arial;color:#fff;border-radius:50%;-webkit-border-radius:50%;background:#43c32e;margin-right:10px;display:block;float:left}
.ui-help dl dt h4{font-size:14px;font-weight:normal;line-height:23px;overflow:auto}
.ui-help dl dt h4 i,.ui-help dl dt p i{color:red;font-size:14px;font-style:normal}
.ui-help dl dt p{font-size:14px;color:#666;margin-left:30px}
.ui-help dl dt p i{color:#0063b1}
.ui-help dl dd{margin-top:10px}
.ui-help dl dd img{max-width:100%;clear:both;display:block;margin-top:10px}
.btn-box{width:315px;height:40px;margin:20px auto 35px auto}
.btn-box .btn{width:150px;height:40px;background:#0063b1;text-align:center;font:14px/40px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";margin-left:15px;float:left}
.btn-box .btn a{font:14px/40px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color:#fff;display:block}
.btn-box .btn:active{-webkit-transform:scale(.9);transform:scale(.9);opacity:0.8;filter:alpha(opacity=80)}
.btn-box .btn:first-child{margin-left:0}
.lbTitle{padding:40px 25px 0 25px}
.lbTitle .lbOrder{padding:0 0 25px 0}
.lbTitle .lbOrder>h3{height:40px;line-height:40px;font-size:20px;font-family:"SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color:#fff;background:#219adf;font-weight:normal;position:relative;padding-left:65px}
.lbTitle .lbOrder>h3 em{width:55px;height:55px;font:normal 35px/55px verdana;border-radius:10px 0 0 0;background:#43c32e;text-align:center;position:absolute;top:-15px;left:0;display:inline-block}
.lbTitle .lbOrder>p{padding:5px 0}
.lbTitle .lbOrder>p:hover,.lbTitle .lbOrder>i:hover{background:#daf2ff}
.lbTitle .lbOrder>h4{font-size:18px;padding:5px 10px 5px 10px;color:#fff;background:#72b1e1;display:inline-block;margin:10px 0 0 0}
.lbTitle .lbOrder>h4 em{font-size:20px;font-style:normal}
.lbTitle .lbOrder>img{display:block;margin:10px 0;border:solid 1px #ccc;}
.lbTitle .lbOrder>h5{font-size:18px;font-weight:bold;display:block;color:#219adf;margin:15px 0 0 0}
.lbTitle .lbOrder>i{display:block;font-style:normal;margin-left:10px}
.lbTitle .lbOrder>i:before{content:"·";font-size:20px;position:relative;top:3px;color:#666}
.lbTitle .lbOrder .remarks{background:#f5f6b4;padding:15px;font-size:12px;margin-bottom:20px}
.lbTitle .lbOrder .remarks h4{color:red}
/*弹出帮助提示*/
/*vip购买说明页面*/
.ui-vip{width:1100px;margin:0 auto}
.ui-vip .ui-vip-box{margin:30px 0 10px 0}
.ui-vip .ui-vip-box .ui-vip-tit{position:relative}
.ui-vip .ui-vip-box .ui-vip-tit h4{font-family:"SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color:#000;font-weight:normal;font-size:22px;text-align:center;margin-bottom:30px}
.ui-vip .ui-vip-box .ui-vip-tit p{border-bottom:solid 2px #0063b1}
.ui-vip .ui-vip-box .ui-vip-tit .icon{width:55px;height:32px;background:#fff;position:absolute;top:36px;left:50%;margin-left:-27.5px}
.ui-vip .ui-vip-box .ui-vip-tit .icon i{width:36px;height:36px;background:#0063b1;font:bold 18px/36px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color:#fff;text-align:center;display:block;border-radius:50%;-webkit-border-radius:50%;margin:0 auto}
.ui-vip .ui-vip-box .ui-vip-tit .icon i.icon-bank{font-size:24px}
.ui-vip .ui-vip-box .ui-vip-tit .icon i.icon-taocan{font-size:23px}
.ui-vip .ui-vip-box .ui-vip-tit span{text-align:center;display:block;color:#666;padding:30px 0 40px 0}
.ui-vip .ui-vip-box .ui-vip-content:after{content:"";display:block;clear:both;zoom:1}
.ui-vip .ui-vip-box .ui-vip-content img{width:100%;margin-top:30px;border:solid 1px #ccc}
.ui-vip .ui-vip-box .ui-vip-content .lbjs{margin-top:30px}
.ui-vip .ui-vip-box .ui-vip-content .lbjs li{width:100%;border:solid 1px #96bbec;margin-bottom:15px;line-height:30px;position:relative;float:left}
.ui-vip .ui-vip-box .ui-vip-content .lbjs li h4{width:90px;height:100%;text-align:center;background:#b7d2f6;float:left}
.ui-vip .ui-vip-box .ui-vip-content .lbjs li p{overflow:hidden;font-size:12px;color:#666;line-height:20px;padding:5px 10px}
.ui-vip .ui-vip-box .ui-vip-content table{width:100%;border-collapse:collapse;}
.ui-vip .ui-vip-box .ui-vip-content table tr th{height:40px;font-size:14px;color:#000;border:solid 1px #96bbec;background:#b7d2f6}
.ui-vip .ui-vip-box .ui-vip-content table tr td[rowspan]{background:#fff}
.ui-vip .ui-vip-box .ui-vip-content table tr td{height:35px;line-height:20px;border:solid 1px #96bbec;padding:0 10px;position:relative}
/*vip购买说明页面*/
/*更新日志*/
.ui-log{padding:10px 15px}
.ui-log h4{font:24px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color:#0063b1;border-bottom:solid 1px #eee;padding:5px 0 20px 0;margin-bottom:60px}
.ui-log dl{margin:50px 0 30px 40px;padding:2px 0;position:relative}
.ui-log dl dt{font:20px "SegoeUI", "Microsoft YaHei", "Hiragino Sans GB";color:#000;position:absolute;top:-38px;left:-40px}
.ui-log dl dd{border-left:solid 4px #ddd;color:#666;padding-left:40px}
.ui-log dl dd h5{padding:15px 0 5px 0;font-size:14px}
.ui-log dl dd h5 span{color:#333;font-size:14px}
.ui-log dl dd p{font-size:14px}
.ui-log dl dd p span{font-size:14px}
.ui-log dl dd .tag-list{width:440px;position:relative}
.ui-log dl dd .tag-list textarea{width:440px;height:100px;font-size:14px;color:#666;padding:10px}
.ui-log dl dd .tag-list em{line-height:initial;padding:2px 5px;position:absolute;bottom:0;right:0}
.ui-log dl dd em{font-style:normal;background:#0063b1;color:#fff;padding:3px 5px;cursor:pointer;margin-left:10px}
.ui-log dl dd h5 .font-color{color:red}
/*更新日志*/

/*0101memo*/
.memo0101{padding-left:10px}
.memo0101 img{display:block;margin:30px auto}
.memo0101 ul li{padding-left:22px}

