<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>持续注意力测试系统</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/ui-base.css}">
	</head>
	<body>
<!--		<div class="uitips" onclick="parent.utils.closeHelpWindow(true)">点击页面底部的<span>不再显示</span>按钮，下次进入页面时将不再自动弹出显示。</div>-->
		<div class="ui-help">
			<dl>
				<dt>
					<em>1</em>
					<h4>选择<i>视觉模式</i>只会显示文字不会播放声音</h4>
				</dt>
			</dl>
			<dl>
				<dt>
					<em>2</em>
					<h4>选择<i>听觉模式</i>只会播放声音不会显示文字</h4>
				</dt>
			</dl>
			<dl>
				<dt>
					<em>3</em>
					<h4>选择<i>视听混合</i>会出现文字并同时播放声音</h4>
				</dt>
			</dl>
			<div class="btn-box">
				<div class="btn noprint"><a href="javascript:parent.utils.closeHelpWindow(true)"  >不再提示</a></div>
				<div class="btn noprint"><a href="javascript:parent.utils.closeHelpWindow()" >确定</a></div>
			</div>
		</div>
	</body>
</html>
