<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hneb.jxetyy.dao">
    <sql id="searchFilter">
        <if test="_filters_!=null">
            <foreach collection="_filters_" separator="and" item="var">
                <choose>
                    <when test="var.field == '_whereSql_'">
                        ( ${var.value} )
                    </when>
                    <when test="var.op.value == 'like'">
                        ${var.field} LIKE concat('%',#{var.value},'%')
                    </when>
                    <when test="var.op.value == 'isnull'">
                        ${var.field} IS NULL
                    </when>
                    <when test="var.op.value == '!isnull'">
                        ${var.field} IS NOT NULL
                    </when>
                    <when test="var.op.value == 'in' and var.value != null ">
                        ${var.field} IN
                        <foreach collection="var.value" item="inValue" open="(" close=")" separator=",">
                            #{inValue}
                        </foreach>
                    </when>
                    <when test="var.op.value == 'notin' and var.value != null ">
                        ${var.field} NOT IN
                        <foreach collection="var.value" item="inValue" open="(" close=")" separator=",">
                            #{inValue}
                        </foreach>
                    </when>
                    <otherwise>
                        ${var.field} ${var.op.value} #{var.value}
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </sql>
</mapper>